/* styles/fonts.css */
@font-face {
  font-family: 'New York';
  src: url('/fonts/NewYork-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'New York', serif;
}
